* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.navBar {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-bottom: 16px;
    padding: 8px;
    background-color: rgb(39, 37, 37);
    height: 60px;
    gap: 5px;
}

.album {
    color: white;
    font-weight: bold;
    font-size: 1.5rem;
    margin-right: 900px;

}

.camera {
    color: seashell;
    margin-left: 300px;
    margin-bottom: 10px;
}

.deeze {
    color: seashell;
    margin-right: 100px;
    border: 1px solid seashell;
}

#inputSearch {
    margin-top: 3rem;
    /* padding: 15px; */


}


.show {
    border: 2px solid rgb(255, 0, 166);
}

.ricerca {

    padding: 4px;
    border-radius: 10px;

}

#searchButton {
    height: 100%;
    /* padding: 8px; */
}

#modale {
    height: 100vh;
    z-index: 99;
    overflow-y: scroll;
}

.orizCard {
    width: 100%;
    background-color: rgb(255, 255, 255);
}

.detail {
    text-decoration: none;
    color: white;
    padding-left: 20px;
}

.btn-success {
    margin-left: 10px;
}

.removeVisibility {
    border-radius: 50%;
    height: 50px;
    width: 50px;
    position: absolute;
    top: 10px;
}

.social-icons li a {
    color: #555;
    font-size: 24px;
    margin-right: 10px;
    transition: color 0.3s ease-in-out;
}

.social-icons li a:hover {
    color: #333;
}

footer p {
    margin-bottom: 0;
}